[submodule "tp/SOIL"]
	path = tp/SOIL
	url = https://github.com/littlstar/soil.git
[submodule "load_obj/tinyobjloader"]
	path = load_obj/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
